:root {
  /* Define temperature color ranges */
  --temp-color-95plus: #c04040; /* Harvest Red */
  --temp-color-90-95: #ff00ff; /* Fuchsia */
  --temp-color-80-89: #ff4500; /* Autumn Red */
  --temp-color-70-79: #ffa500; /* Mango */
  --temp-color-60-69: #ffd700; /* Sunshine */
  --temp-color-50-59: #90ee90; /* Soft Green */
  --temp-color-41-50: #32cd32; /* Cool Green */
  --temp-color-32-40: #87ceeb; /* Blue Mint */
  --temp-color-0-31: #800080; /* Purple */
  --temp-color-none: #6f6866ff; /*Gray*/

  --ash-gray: #ccdad1ff;
  --ash-gray-2: #9caea9ff;
  --battleship-gray: #788585ff;
  --dim-gray: #6f6866ff;
  --van-dyke: #38302eff;
  --textdark: #001845;
}

.quicksand-cdt {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.hero {
  background: linear-gradient(to right, #3498db, #2ecc71);
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.hero-content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero-content h2 {
  font-size: 1.5em;
  color: white;
 
}

.hero-content button {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-content button:hover {
  background-color: #c0392b;
}


body {
  background: linear-gradient(to right, #3498db, #2ecc71);
 
  padding: 50px 20px;
  text-align: center;
}

button {
  border: #001845;
  background-color: rgb(170, 140, 205);
  color: #001845;
  font-weight: bold;
  max-width: 40%;
  border-radius: 40%;
  margin-top: 1em;
  font-size: 1em;
}

h1 {
  text-align: center;
  color: blueviolet;
}

h2 {
  text-align: center;
  color: blueviolet;
  /*font-size:medium*/
}

h3 {
  font-style: italic;
}

img {
  margin-top: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}

#container {
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 2em; /* Space between sections */
  padding: 2em; /* Space inside the container */
}

#textSection {
  background-color: #f0f0f0;
  padding: 2em;
  border-radius: 8px;
}

#formSection {
  background-color: #c3c3cf;
  padding: 2em;
  border-radius: 8px;
  text-align: center;
}
#color-ranges {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.range {
  display: flex;
  align-items: center;
  margin-bottom: 0.25em;
}

.range label {
  margin-right: 1em;
 
  text-align: right;
}

.range input[type="color"] {
  margin: 0 .25em;
}

.range .temp-value {
  margin-left: .25em;
  font-weight: bold;
}

/*For generate.html*/

.quilt {
  display: grid;
  grid-template-columns: repeat(16, 1fr); /* 16 blocks per row */
  gap: 0.25em; /* Space between blocks */
  max-width: 100%; /* Adjust the grid width */
  margin-top: 1em;
}

.block-title {
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1em;
  color: #333;
  visibility: hidden;
}

.temp-block {
  width: 100%; /* Block fills grid cell */
  padding-top: 100%; /* Makes the block square */
  background-color: var(--temp-color); /* Use dynamically assigned color */
  border: 1px solid #121212; /* Optional border for quilt effect */
}

@media print {
  body {
    -webkit-print-color-adjust: exact; /* For WebKit-based browsers like Chrome */
    print-color-adjust: exact; /* For other modern browsers */
    height: 100%;
    width: 100%;
    overflow: visible;
    zoom: 100%;
    font: 1em;
  }

  html,
  wrapper,
  div,
  section {
    height: 100%; /* Removes fixed heights */
    width: 100%; /* Removes fixed widths */
  }

  @page {
    margin: 0;
    size: landscape;
  }

  .quilt {
    display: grid;
    grid-template-columns: repeat(16, 165px); /* 16 blocks per row */
    gap: 0; /* Space between blocks */
    max-width: 100%; /* Adjust the grid width */
  }

  .non-print-section {
    display: none; /* Hide everything by default */
  }

  .print-section {
    display: block; /* Show only the section to print */
  }
}
